Package: com.murkaska.virtualcampro
Name: VirtualCamPro
Depends: mobilesubstrate, preferenceloader
Version: 155.0.0
Architecture: iphoneos-arm64
Description: Standalone RTSP Virtual Camera for iOS
Maintainer: MurkAskA
Author: MurkAskA
Section: Tweaks
