Package: com.murkaska.virtualcampro
Name: VirtualCamPro
Depends: mobilesubstrate, preferenceloader
Version: 266.0.0
Architecture: iphoneos-arm64
Description: Virtual Camera for iOS (Capture Hijack Edition)
Maintainer: MurkAskA
Author: MurkAskA
Section: Tweaks
