{
    Filter = {
        Bundles = (
            "com.apple.UIKit",
            "com.apple.AVFoundation",
            "com.apple.camera",
            "com.apple.mobileslideshow",
            "com.apple.WebKit.WebContent",
            "com.apple.WebKit.Networking",
            "com.apple.SafariViewService",
            "com.apple.WebSheet"
        );
    };
}
