<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>VirtualCamPro Settings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.murkaska.virtualcampro</string>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>Enabled</string>
            <key>PostNotification</key>
            <string>com.murkaska.virtualcampro/prefsChanged</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Stream URL (HTTP MJPEG or .m3u8 HLS)</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>default</key>
            <string>http://192.168.1.44:8888/live</string>
            <key>defaults</key>
            <string>com.murkaska.virtualcampro</string>
            <key>key</key>
            <string>rtspURL</string>
            <key>label</key>
            <string>URL</string>
            <key>PostNotification</key>
            <string>com.murkaska.virtualcampro/prefsChanged</string>
        </dict>
    </array>
    <key>title</key>
    <string>VirtualCamPro</string>
</dict>
</plist>
